.presentation {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  padding: 35px 30px;
}

.presentation__title {
  padding-bottom: 15px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 50px;
}

.presentation__container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.presentation__info {
  margin-top: 35px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.presentation__img {
  width: 100%;
}

.presentation__list {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.presentation__list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}
