@import './variables';

@import './libs/normalize';
@import '../fonts/inter.css';

@import './components/all';

body {
  background: $background;
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  width: 100%;
}

.button__container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.button {
  margin: 0 auto;
  padding: 0;
  width: 288px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  margin-top: auto;
}

.button:hover {
  opacity: 0.6;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}

