.feedback__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 50px;
}

.feedback__content {
  margin: 0 auto;
  display: flex;
  gap: 15px;
  padding: 15px 45px;
  overflow: hidden;
  border-radius: 10px;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
.feedback__img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__name {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.feedback__description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1023px) {
  .feedback__title {
    font-size: 36px;
    line-height: 42px;
  }

  .feedback__img {
    width: 200px;
    height: 200px;
  }

  .feedback__name {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 36px;
  }

  .feedback__description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .feedback__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feedback__img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .feedback__title {
    padding-bottom: 5px;
    font-size: 30px;
    line-height: 36px;
  }

  .feedback__name {
    font-size: 22px;
    line-height: 28px;
  }
}
